bin
static-build
.stack-work
.cabal-sandbox
.pandoc-*
pandoc
cabal.project.local
cabal.project.local~
dist
dist-newstyle
cabal.sandbox.config
mkcheck.sh
mkinttest.sh
/pandoc-crossref
/*.tar.gz
/result*
